html {
    height: 100%;
    width: 100%;
}

html,
body {
  position: fixed;
  overflow: hidden;
}

@font-face {
    font-family: light;
    src: url(fontes/neuelight.otf);
}


body {
    width: 100%;
    height: 100%;
    margin: 0px;
    display: flex;
    flex-direction: row;
    font-family:serif;
    color: black;
    font-family: light;
    background: radial-gradient(#000000, #ffffff);
    background-size: 1200% 1200%;
    animation: AnimationName 15s alternate infinite;
}



@keyframes AnimationName {
    0%{background-position:0% 0%}
    33%{background-position:100% 100%}
    66%{background-position:75% 0%}
    100%{background-position:100% 0%}
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: white;
}

#about:hover, #about:visited, #about:link, #about:active {
    text-decoration: none;
    color: white;
}



/* LADEX */

#side_bar {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 20vh;
    height: 100vh;
    z-index: 10; 
    justify-content: space-between;
}

#background_side{
    position:absolute; 
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    background: radial-gradient(#000000, #ffffff);
    background-size: 200% 500%;
    animation: cor 30s ease infinite;
    filter: blur(8px);
}

@keyframes cor {
    0%{background-position:58% 0%}
    50%{background-position:43% 100%}
    100%{background-position:58% 0%}
}

#about {
    color: white;
    font-size: 6vh;
    mix-blend-mode: exclusion;
    width: 100%;   
}

#nome {
    display: flex;
    width: 20vh;
    mix-blend-mode: exclusion;
    
}

#contact {
    color: white;
    font-size: 6vh;
    overflow-wrap: break-word;
    width: 100%;
    mix-blend-mode: exclusion;
}

#nome:hover, #about:hover, #contact:hover {
    mix-blend-mode: lighten;
}

/* PARTE PRINCIPAL */



#main {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 91vw;
    height: 100vh;
    z-index: 5;
    margin-left: 20px;
}

#cont_texto {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 98%;
    height: auto;
    max-width: 1000px;
    margin-top: 0;
    margin-top: auto;
    margin-bottom: 10px;
    margin-left: 2%;

}

#eu {
    display: flex;
    position: relative;
    height: 30vw;
    width: auto;
    margin-left: auto;
    margin-bottom: 0px;
}


.titulo {
    font-size: 20vmin;
    line-height: 15vmin;
    letter-spacing: -5px;
    width: 100%;
}

.text {
    margin-top: 0;
    font-size: 3.5vmin;
    width: 100%;
}

.for {
    margin-top: 0;
    font-size: 3.5vmin;
    width: 100%;
    
}

.malio {
    height: 36px;
    
}


/* MEDIA QUARIES */

@media screen and (max-width: 780px) {


body {
    flex-direction: column;
}
    
    
#side_bar {
    display: flex;
    position: fixed;
    flex-direction: row;
    top: 0px;
    width: 100vw;
    height: 9vw;
    animation: appear 0.5s; 
    animation-timing-function: cubic-bezier(,1,0.9,0.8);
    justify-content:flex-start;
}

#side_bar #about {
       order: 4;
    }
    
#side_bar #nome {
       order: 2;
    } 
#side_bar #contact {
       order: 3;
    }
    
#side_bar #background_side {
    order: 1;
}  
    

#main {
        position: relative;
        display: flex;
        flex-direction: row;
        width:100%;
        margin-left: auto;
    margin-right: auto;
}

 
@keyframes appear {
    0% {top: -50px;}
    100% {top: 0px;}      
}

    
#about {
    display: flex;
    position: relative;
    font-size: 8vw;
    float: left;
    line-height: 6vw;
    width: auto;
    right: 5px;
    top: 4px;
}
    
#contact {
    display: inline-block;
    position: relative;
    font-size: 4vw; 
    margin: auto;
    margin-top: 0px;
    float: none;
    width: 30vw;
}
  
#nome{
    display: flex;
    position: relative;
    height:6vw;
    width: auto;
	content:url(vetores/serraho.svg);
    left: 5px;
    top: 4px;
    margin: auto;
    float: right;
}
#side_bar:hover {
    width: 100vw;

}

#side_bar:hover + #main {
    left: 0px;

}
   
.trans{
    display: none;
}
.notrans {
    display: inline-block;
}
    
    
#cont_texto {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: auto;
    max-width: 1300px;
    margin-top: auto;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;

}

#eu {
    display: flex;
    position: relative;
    height: 30vw;
    width: auto;
    margin-left: auto;
    margin-bottom: 0px;
}


.titulo {
    font-size: 25vmin;
    letter-spacing: 0px;
    width: 98%;
    line-height: 20vw;
    margin-left: auto;
    margin-right: auto;
}

.text {
    margin-top: 0;
    font-size: 5vmin;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}

.for {
    margin-top: 0;
    font-size: 5vmin;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    
}


 


