html {
    width: 100%;
}

html,
body {
 overflow-x: hidden;

}

@font-face {
    font-family: light;
    src: url(fontes/neuelight.otf);
}

@font-face {
    font-family: medium;
    src: url(fontes/neuemedium.otf);
}

body {
    width: 100%;
    height: auto;
    margin: 0px;
    display: flex;
    flex-direction: row;
    font-family:serif;
    color: black;
    font-family: light;
}


a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: white;
}


#side_bar {
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 4.76vh;
    height: 100vh;
    z-index: 0; 
    animation: disap 0.5s;
    animation-timing-function: cubic-bezier(,1,0.9,0.8);
    transition: width 0.5s;
    justify-content: space-between;

}



#side_bar:hover {
    width: 20vh;

}

#side_bar:hover + #main {
    left: 20vh;

}

@keyframes disap {
    0%{width: 20vh;;}
    100%{width: 4.76vh;}
}

#background_side{
    position:absolute; 
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    background: radial-gradient(#000000, #ffffff);
    background-size: 200% 500%;
    animation: cor 30s ease infinite;
    filter: blur(8px);
}

@keyframes cor {
    0%{background-position:58% 0%}
    50%{background-position:43% 100%}
    100%{background-position:58% 0%}
}


#about {
    color: white;
    font-size: 6vh;
    mix-blend-mode: exclusion;
    width: 100%;   
}

#nome {
    display: flex;
    width: 20vh;
    mix-blend-mode: exclusion;
    
}

#contact {
    color: white;
    font-size: 6vh;
    overflow-wrap: break-word;
    width: 20vh;
    mix-blend-mode: exclusion;
}

.notrans {
    display: none;
}







#nome:hover, #about:hover, #contact:hover {
    mix-blend-mode: lighten;
}

/* PARTE PRINCIPAL */

#main {
    display: flex;
    position: absolute;
    flex-direction: column;
    height: auto;
    width: 80%;
    max-width: 1300px;
    padding-left: 50px;
    left:50px;
    margin-right: 100px;
    animation: ape 0.5s;
    animation-timing-function: cubic-bezier(,1,0.9,0.8);
    transition: left 0.5s;
}


@keyframes ape {
    0% {left: 210px;}
    100%{left: 50px;}
}



.thumbnail {
    display: flex;
    position: relative;
    width: 95%;
    height: auto;
   
    
}

.line {
    display:flex;
    height: 2px;
    width: 100%;
    background-image: linear-gradient(90deg, #000000, #ffffff);
}

.head {
    font-size: 24px;
    line-height: 16px;
}

.intro {
    width: 95%;
    height: auto;
    margin-top: 40px;
    font-size: 22px;
    margin-bottom: 20px;
}


.contentor_colunas {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.column1, .column2 {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 50%;
}

.lazy {
    display: flex;
}


.spread {
    display: flex;
    position: relative;
    width: 100%;
    overflow: hidden;
    flex-direction: column;
    
}


.legenda {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;
}

.aftertext {
    display: none;
}

.soundtrack {
    width: 100%;
    margin-top: 50px;
}



.highlight:active, .highlight:hover, .highlight:link, .highlight:visited {
    color: #00ff00;
    cursor: pointer;
    
}

.highlight:hover {
    text-decoration: underline;
    
}



.date {
    position: fixed;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    transform: rotate(90deg);
    color: white;
    background-color: black;
    top: 60px;
    right: -100px;
    height: 70px;
    width: 120px;
    border-radius: 0px 0px 5px 5px; 
    align-content: flex-end;
    animation: rightape 0.5s;
    animation-timing-function: cubic-bezier(,1,0.9,0.8);
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}


@keyframes rightape {
    0% {right: -100px;}
    100% {right: -30px;}
}

@keyframes rightape2 {
    0% {right: -270px;}
    100% {right: -200px;}
}

.date_mm {
    font-size: 24px;
    color: white;
    width: 100%;
    text-align: center;
    margin-top: auto;
    margin-bottom: 5px;
}



.afonsoeines:hover {
    text-decoration: underline;
    
}



@media screen and (max-width: 1000px) {
    
body {
   
}
    

.contentor_colunas {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
}

.column1, .column2 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.column1 {
    margin-left: 0px;
}

.spread {
    width: 100%;

}
    
.instalacao {
    position:relative;
    width: 100%;
    top: auto;
    left: auto;    
}


          
    
}


/* MEDIA QUARIES */

@media screen and (max-width: 780px) {


body {
    flex-direction: column;
}
    
#side_bar {
    display: flex;
    position: fixed;
    flex-direction: row;
    top: 0px;
    width: 100vw;
    height: 9vw;
    animation: appear 0.5s; 
    animation-timing-function: cubic-bezier(,1,0.9,0.8);
    justify-content:flex-start;
}

    
    
    
@keyframes appear {
    0% {top: -50px;}
    100% {top: 0px;}      
}

    
#about {
    display: flex;
    position: relative;
    font-size: 8vw;
    float: left;
    line-height: 6vw;
    left: 5px;
    top: 4px;
}
    
#contact {
    display: inline-block;
    position: relative;
    font-size: 4vw; 
    margin: auto;
    margin-top: 0px;
    float: none;
    width: 30vw;
}
  
#nome{
    display: flex;
    position: relative;
    height:6vw;
    width: auto;
	content:url(vetores/serraho.svg);
    right: 5px;
    top: 4px;
    margin: auto;
    float: right;
}
    
#side_bar:hover {
    width: 100vw;

}

#side_bar:hover + #main {
    left: 0px;

}
   
.trans{
    display: none;
}
.notrans {
    display: inline-block;
}
    
.date {
    position: fixed;
    display: flex;
    flex-direction: column;
    transform: rotate(0deg);
    color: white;
    background-color: black;
    top:auto;
    bottom:0;
    left: 10px;
    height: 6vh;
    width: 15vw;
    border-radius: 5px 5px 0px 0px; 
    align-content: flex-end;
    animation: rightape 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(,1,0.9,0.8);
    animation-fill-mode: forwards;
}
.date_mm {
    font-size: 2.5vw;
    color: white;
    width: 100%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: auto;
}

.colab {
    position: fixed;
    display: flex;
    flex-direction: column;
    transform: rotate(0deg);
    color: white;
    background-color: black;
    font-size: 2.5vw;
    top:auto;
    bottom:0;
    right: 12px;
    height: 6vh;
    width: 45vw;
    border-radius: 5px 5px 0px 0px; 
    align-content: flex-end;
    animation: rightape 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(,1,0.9,0.8);
    animation-fill-mode: forwards;
}

@keyframes rightape {
    0% {bottom: -70px;}
    100% {bottom: 0px;}
}

#main {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 100vw;
    left:0px;
    top: 50px;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0;

}


@keyframes ape {
    0% {left: 210px;}
    100%{left: 0px;}
}



.thumbnail {
    display: flex;
    position: relative;
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    
}

.intro {
    width: 90%;
    letter-spacing: 0.2px;
    height: auto;
    margin-top: 20px;
    font-size: 18px;
    margin-bottom: 20px;
    margin-left: 17.5px;
}

.head {
    font-size: 18px;
    }



.spread {
    display: flex;
    width: 100%;
    overflow: hidden;
    margin-left: 0;
    margin-right: 0;
    opacity: 1;
}
    



.related {
    display: flex;
    height:15vw;
    padding-top: 5vw;
    width: 100%;
    margin-left: 5px;
    text-align: right;
}



}
    

    




