html {
    height: 100%;
    width: 100%;
}

html,
body {
  position: fixed;
  overflow: hidden;
}

@font-face {
    font-family: light;
    src: url(fontes/neuelight.otf);
}

@font-face {
    font-family: medium;
    src: url(fontes/neuemedium.otf);
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    display: flex;
    flex-direction: row;
    font-family:serif;
    color: black;
    font-family: light;
    
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: white;
}

#about:hover, #about:visited, #about:link, #about:active {
    text-decoration: none;
    color: white;
}


/* LADEX */

#side_bar {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 20vh;
    height: 100vh;
    z-index: 10; 
    justify-content: space-between;
}

#background_side{
    position:absolute; 
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    background: radial-gradient(#000000, #ffffff);
    background-size: 200% 500%;
    animation: cor 30s ease infinite;
    filter: blur(8px);
}

@keyframes cor {
    0%{background-position:58% 0%}
    50%{background-position:43% 100%}
    100%{background-position:58% 0%}
}

#about {
    color: white;
    font-size: 6vh;
    mix-blend-mode: exclusion;
    width: 100%;   
}


#nome {
    display: flex;
    width: 20vh;
    mix-blend-mode: exclusion;
    
}

#contact {
    color: white;
    font-size: 6vh;
    overflow-wrap: break-word;
    width: 100%;
    mix-blend-mode: exclusion;
}

#nome:hover, #about:hover, #contact:hover {
    mix-blend-mode: lighten;
}

/* PARTE PRINCIPAL */

#main {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 89vw;
    height: 100vh;
    z-index: 5;
    margin-left: 20px;
}



.thumbnail {
    mix-blend-mode: multiply;
    width: 100%;
    height: auto;
}

.thumbnail:hover {
    animation-name: swoop;
    animation-iteration-count: 2;
    animation-timing-function: ease-out;
    animation-duration: 0.5s;
}


@keyframes swoop {
    0% {opacity: 1;}
    10% {opacity: 0;}
    75% {opacity: 1;}
    100% {opacity: 1;}
}

.coluna {
    display:flex;
    flex-direction: column;
    width: 35vh;
}

.coluna2 {
    display:flex;
    flex-direction: column;
    width: 35vh;
    margin-left: 60px;
}


#cast00 {
    position: relative;
    display: flex;
    width: 110%;
    
}

#cast2050 {
    position: relative;
    display: flex; 
    margin-top: 20px;
    width: 90%;
    margin-left: auto;

}

#towards {
    position: relative;
    display: flex;

}

#a55 {
    position: relative;
    display: flex;
    margin-top: 25px;
    margin-left: auto;
    width: 100%;
}

#ittakes {
    margin-top: 20px;
    position: relative;
    display: flex;
    
}

#jurnal3 {
    margin-top: 40px;
    position: relative;
    display: flex;
    width: 100%
    
}

#jurnal4 { 
    display: flex;
    position: relative;
    width: 100%;
    margin-top: -10px;
    
}

#thereal { 
    display: flex;
    position: relative;
    width: 100%;
    margin-top: 10px;
    
}

/* MEDIA QUARIES */

@media screen and (max-width: 780px) {


body {
    flex-direction: column;
}
    
#side_bar {
    display: flex;
    position: fixed;
    flex-direction: row;
    top: 0px;
    width: 100vw;
    height: 9vw;
    animation: appear 0.5s; 
    animation-timing-function: cubic-bezier(,1,0.9,0.8);
    justify-content:flex-start;
}

#side_bar #about {
       order: 4;
    }
    
#side_bar #nome {
       order: 2;
    } 
#side_bar #contact {
       order: 3;
    }
    
#side_bar #background_side {
    order: 1;
}  
    
#main {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 98vw;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 9vw;
    justify-content: space-between;
}
 
@keyframes appear {
    0% {top: -50px;}
    100% {top: 0px;}      
}

    
#about {
    display: flex;
    position: relative;
    font-size: 8vw;
    float: left;
    line-height: 6vw;
    width: auto;
    right: 5px;
    top: 4px;
}
    
#contact {
    display: inline-block;
    position: relative;
    font-size: 4vw; 
    margin: auto;
    margin-top: 0px;
    float: none;
    width: 30vw;
}
  
#nome{
    display: flex;
    position: relative;
    height:6vw;
    width: auto;
	content:url(vetores/serraho.svg);
    left: 5px;
    top: 4px;
    margin: auto;
    float: right;
}
    
#side_bar:hover {
    width: 100vw;

}

#side_bar:hover + #main {
    left: 0px;

}
   
.trans{
    display: none;
}
.notrans {
    display: inline-block;
}
 
.thumbnail {
    mix-blend-mode: multiply;
        z-index: -1;

}
    
.coluna {
    display:flex;
    flex-direction: column;
    width: 32%;
}

.coluna2 {
    display:flex;
    flex-direction: column;
    width: 32%;
    margin-left: 0px;
}


#cast00 {
    position: relative;
    display: flex;
    width: 110%;
    
}

#cast2050 {
    position: relative;
    display: flex; 
    margin-top: 20px;
    width: 90%;
    margin-left: auto;

}

#towards {
    position: relative;
    display: flex;

}

#a55 {
    position: relative;
    display: flex;
    margin-top: 25px;
    margin-left: auto;
    width: 100%;
}

#ittakes {
    margin-top: 20px;
    position: relative;
    display: flex;
    
}

#jurnal3 {
    margin-top: 40px;
    position: relative;
    display: flex;
    width: 100%
    
}

#jurnal4 { 
    display: flex;
    position: relative;
    width: 100%;
    margin-top: -10px;
    
}

#thereal { 
    display: flex;
    position: relative;
    width: 100%;
    margin-top: 10px;
    
}
  

    




